<a href="/administracion/vehiculos" class="btn btn-primary">Vehiculos</a>
<a href="/administracion/concesionarios" class="btn btn-primary">Concesionarios</a>
<a href="/administracion/reservas" class="btn btn-primary">Reservas</a>
<a href="/administracion/usuarios" class="btn btn-primary">Usuarios</a>