<div class="row row-cols-md-4 g-3 mt-2">
    <div class="col">
        <a href="/administracion/vehiculos" class="card card-animacion h-100 shadow-sm">
            <div class="card-body text-center">
                <img src="/icons/car-front-fill.svg" alt="Vehículos" class="icon-animacion mb-2" style="width: 28px; height: 28px;">
                <h5 class="card-title text-secondary">Vehículos</h5> 
            </div>
        </a>
    </div>
    <div class="col">
        <a href="/administracion/concesionarios" class="card card-animacion h-100 shadow-sm">
            <div class="card-body text-center">
                <img src="/icons/house.svg" alt="Concesionarios" class="icon-animacion mb-2" style="width: 28px; height: 28px;">
                <h5 class="card-title text-secondary">Concesionarios</h5> 
            </div>
        </a>
    </div>
    <div class="col">
        <a href="/administracion/reservas" class="card card-animacion h-100 shadow-sm">
            <div class="card-body text-center">
                <img src="/icons/calendar.svg" alt="Reservas" class="icon-animacion mb-2" style="width: 28px; height: 28px;">
                <h5 class="card-title text-secondary">Reservas</h5> 
            </div>
        </a>
    </div>
    <div class="col">
        <a href="/administracion/usuarios" class="card card-animacion h-100 shadow-sm">
            <div class="card-body text-center">
                <img src="/icons/person.svg" alt="Usuarios" class="icon-animacion mb-2" style="width: 28px; height: 28px;">
                <h5 class="card-title text-secondary">Usuarios</h5> 
            </div>
        </a>
    </div>
</div>