<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="UTF-8">
        <title>Mi proyecto</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <script defer src="/js/accesibility.js"></script>
        <script defer src="/js/jquery-3.7.1.min.js"></script>
        <script defer src="/js/bootstrap.bundle.min.js"></script>
    </head>

    <body>
        <nav class="navbar navbar-expand-md navbar-light bg-body-secondary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">PureVolt</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <% if(!active) {active = {}} %>
                        <li class="nav-item">
                            <a class="nav-link <% if(active.inicio){ %>active<% } %>" aria-current="page" href="/">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link <% if(active.vehiculos){ %>active<% } %>" href="/vehiculos">Vehículos disponibles</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link <% if(active.reservas){ %>active<% } %>" href="/reservas">Reservar vehículo</a>
                        </li>
                        <li class="nav-item">
                            <button id="btnAccesibilidad" class="nav-link" data-bs-toggle="modal" data-bs-target="#modalAccesibilidad">Accesibilidad</button>
                        </li>
                    </ul>
                    <div>
                        <button class="btn btn-primary" data-bs-toggle="offcanvas" data-bs-target="#offcanvasUsuario">Iniciar Sesión</button>
                    </div>
                </div>
            </div>
        </nav>
        <main class="container my-3 my-md-5">
            <%- body %>
        </main>
        <div id="modalAccesibilidad" class="modal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Opciones de accesibilidad</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <fieldset>
                                <legend class="fs-5">Modo de color</legend>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="radioTema" id="radioTemaLight" data-bs-theme-value="light">
                                    <label class="form-check-label" for="radioTemaLight">Claro</label>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="radioTema" id="radioTemaDark" data-bs-theme-value="dark">
                                    <label class="form-check-label" for="radioTemaDark">Oscuro</label>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="radioTema" id="radioTemaAuto" data-bs-theme-value="auto">
                                    <label class="form-check-label" for="radioTemaAuto">Automático</label>
                                </div>
                            </fieldset>

                            <fieldset>
                                <legend class="fs-5">Tamaño de fuente</legend>
                                <div class="form-check">
                                    <input type="radio" class="form-check-input" name="radioFontSize" id="radioFontSizeSm">
                                    <label for="radioFontSizeSm" class="form-check-label">Pequeña</label>
                                </div>
                                <div class="form-check">
                                    <input type="radio" class="form-check-input" name="radioFontSize" id="radioFontSizeMd">
                                    <label for="radioFontSizeMd" class="form-check-label">Mediana</label>
                                </div>
                                <div class="form-check">
                                    <input type="radio" class="form-check-input" name="radioFontSize" id="radioFontSizeLg">
                                    <label for="radioFontSizeLg" class="form-check-label">Grande</label>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="modalAccesibilidadConfirmar" data-bs-dismiss="modal">Confirmar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasUsuario" aria-labelledby="offcanvasUsuarioTitle">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasUsuarioTitle">Iniciar Sesión</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <form class="m-3 p-3 border rounded">
                    <fieldset>
                        <div class="mb-3">
                            <label for="formLoginUsername" class="form-label">Usuario</label>
                            <input type="text" id="formLoginUsername" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="formLoginPassword" class="form-label">Contraseña</label>
                            <input type="password" id="formLoginPassword" class="form-control">
                        </div>
                        <button class="btn btn-primary">Iniciar Sesión</button>
                    </fieldset>
                    <div class="my-3">
                        <a href="/registrarse">Registrarse</a>
                    </div>
                </form>
            </div>
        </div>
    </body>

</html>