<form id="formLogin" aria-label="Formulario de inicio de sesión" method="POST" class="rounded border p-5">
    <fieldset>
        <legend>Iniciar Sesión</legend>
        <div class="border-top border-bottom py-3">

            <!-- Mostramos una alerta de error si se han introducido las credenciales incorrectas -->
            <% if (locals.err) { %>
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <h5 class="alert-heading">No se ha podido iniciar sesión</h5>
                <%= locals.err %>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Cerrar"></button>
            </div>
            <% } %>

            <!-- Campos del formulario -->
            <div class="mb-3">
                <label for="formLoginEmail" class="form-label">Correo Electrónico</label>
                <input type="text" id="formLoginEmail" class="form-control" name="correo" required pattern="^[a-zA-Z0-9]+@purevolt.es$"
                    placeholder="ejemplo@purevolt.es">
                <span class="invalid-feedback">Por favor ingresa tu correo electrónico empresarial (@purevolt.es)</span>
            </div>
            <div class="mb-3">
                <label for="formLoginPassword" class="form-label">Contraseña</label>
                <input type="password" id="formLoginPassword" class="form-control" name="contrasena" required>
                <span class="invalid-feedback">Por favor ingresa tu contraseña</span>
            </div>
        </div>

        <!-- Boton de iniciar sesion y enlace para registrarse -->
        <div class="pt-4">
            <button class="btn btn-primary">Iniciar Sesión</button>
            <div class="my-3">
                <a href="/registrarse">Registrarse</a>
            </div>
        </div>
    </fieldset>
</form>