<form id="formulario-reserva" aria-label="Formulario de reserva de vehículos" method="POST" class="rounded border p-3 p-md-5">
    <fieldset>
        <legend>Datos de registro</legend>
        <div class="border-top border-bottom py-3 my-3">
            <div class="row g-3 mb-3 row-cols-1 row-cols-md-2">
                <div class="col">
                    <label for="formRegisterName" class="form-label">Nombre</label>
                    <input type="text" id="formRegisterName" required="" class="form-control" name="nombre">
                </div>
                <div class="col">
                    <label for="formRegisterApellidos" class="form-label">Apellidos</label>
                    <input type="text" id="formRegisterApellidos" required="" class="form-control" name="apellidos">
                </div>
            </div>
            <div class="mb-3">
                <label for="formRegisterEmail" class="form-label">Correo Electrónico</label>
                <input type="email" id="formRegisterEmail" required="" class="form-control" name="email">
            </div>
            <div class="mb-3">
                <label for="formRegisterPassword" class="form-label">Contraseña</label>
                <input type="password" id="formRegisterPassword" required="" class="form-control" name="password">
            </div>
            <div class="mb-3">
                <label for="formRegisterTelefono" class="form-label">Teléfono</label>
                <input type="text" id="formRegisterTelefono" class="form-control" name="telefono">
            </div>
            <div class="mb-3">
                <label for="formRegisterPassword" class="form-label">Concesionario</label>
                <select class="form-select">
                    <option value="0">Selecciona un concesionario</option>
                </select>
            </div>
        </div>

        <div class="d-flex">
            <button class="btn btn-primary me-2" type="submit">Enviar</button>
            <button class="btn btn-secondary" type="reset">Limpiar Fromulario</button>
        </div>
    </fieldset>
</form>