<form id="formulario-reserva" aria-label="Formulario de reserva de vehículos" method="POST" class="rounded border p-5">
    <fieldset>
        <legend>Datos de registro</legend>
        <div class="border-top border-bottom py-3">
            <div class="row g-3 mb-3 row-cols-1 row-cols-md-2">
                <div class="col">
                    <label for="formRegisterName" class="form-label">Nombre</label>
                    <input type="text" id="formRegisterName" required="" class="form-control" name="registerNombre" />
                </div>
                <div class="col">
                    <label for="formRegisterApellidos" class="form-label">Apellidos</label>
                    <input type="text" id="formRegisterApellidos" required="" class="form-control" name="registerApellidos" />
                </div>
            </div>
            <div class="mb-3">
                <label for="formRegisterEmail" class="form-label">Correo Electrónico</label>
                <input type="email" id="formRegisterEmail" required="" class="form-control" name="registerEmail" />
            </div>
            <div class="mb-3">
                <label for="formRegisterPassword" class="form-label">Contraseña</label>
                <input type="password" id="formRegisterPassword" required="" class="form-control" name="registerPassword" />
            </div>
            <div class="mb-3">
                <label for="formRegisterTelefono" class="form-label">Teléfono</label>
                <input type="text" id="formRegisterTelefono" class="form-control" name="registerTelefono" />
            </div>
            <div class="mb-3">
                <label for="formRegisterPassword" class="form-label">Concesionario</label>
                <select class="form-select">
                    <option value="0">Selecciona un concesionario</option>
                </select>
            </div>
        </div>
    </fieldset>

    <div class="g-3 row pt-4 row-cols-1 row-cols-md-2 text-end justify-content-end">
        <div class="col">
            <button class="btn btn-secondary" type="reset" aria-label="Botón para limpiar datos del formulario">Limpiar Fromulario</button>
        </div>
        <div class="col-md-2">
            <button id="submit-button" class="btn btn-primary" type="button" aria-label="Botón para enviar datos del formulario">Enviar</button>
        </div>
    </div>
</form>