<form id="formulario-reserva" aria-label="Formulario de reserva de vehículos" method="POST" class="rounded border p-3 p-md-5 needs-validation" novalidate>
    <fieldset>
        <legend>Datos de registro</legend>
        <div class="border-top border-bottom py-3 my-3">

            <!-- Mostramos una alerta si ha ocurrido un error -->
            <% if (locals.err) { %>
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <h5 class="alert-heading">No se ha podido registrar la cuenta</h5>
                <%= locals.err %>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Cerrar"></button>
            </div>
            <% } %>

            <!-- Mostramos una alerta si se ha registrado correctamente -->
            <% if (locals.success) { %>
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <h5 class="alert-heading">Enhorabuena</h5>
                Tu cuenta se ha creado correctamente
                <hr>
                <a href="/login" class="btn btn-primary">Iniciar Sesión</a>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Cerrar"></button>
            </div>
            <% } %>

            <!-- Se ponen en la misma fila en pantallas md o mas -->
            <div class="row g-3 mb-3 row-cols-1 row-cols-md-2">
                <div class="col">
                    <label for="formRegisterNombre" class="form-label">Nombre</label>
                    <input type="text" id="formRegisterNombre" class="form-control" name="nombre" required>
                    <span class="invalid-feedback">Rellena este campo</span>
                </div>
                <div class="col">
                    <label for="formRegisterApellidos" class="form-label">Apellidos</label>
                    <input type="text" id="formRegisterApellidos" class="form-control" name="apellidos" required>
                    <span class="invalid-feedback">Rellena este campo</span>
                </div>
            </div>


            <div class="mb-3">
                <label for="formRegisterEmail" class="form-label">Correo Electrónico</label>
                <input type="email" id="formRegisterEmail" class="form-control" name="correo" required pattern="^[a-zA-Z0-9]+@purevolt.es$"
                    placeholder="ejemplo@purevolt.es">
                <span class="invalid-feedback">Usa tu correo electrónico empresarial (@purevolt.es)</span>
            </div>
            <div class="mb-3">
                <label for="formRegisterPassword" class="form-label">Contraseña</label>
                <input type="password" id="formRegisterPassword" class="form-control" name="contrasena" required
                    pattern="(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9]).{8,}">
                <span class="invalid-feedback">La contraseña debe tener como mínimo 8 caracteres y debe contener al menos una mayúscula, una minúscula y un
                    número</span>
            </div>
            <div class="mb-3">
                <label for="formRegisterTelefono" class="form-label">Teléfono</label>
                <input type="text" id="formRegisterTelefono" class="form-control" name="telefono" pattern="[0-9]{9}">
                <span class="invalid-feedback">Usa un número de telefono válido</span>
            </div>
            <div class="mb-3">
                <label for="formRegisterConcesionario" class="form-label">Concesionario</label>
                <select id="formRegisterConcesionario" class="form-select" name="id_concesionario" required>
                    <option value="">Selecciona un concesionario</option>
                    <% concesionarios.forEach(c => { %>
                    <option value=<%= c.id_concesionario %>><%= c.nombre %></option>
                    <% }) %>
                </select>
                <span class="invalid-feedback">Selecciona un concesionario</span>
            </div>
        </div>

        <div class="d-flex">
            <button class="btn btn-primary me-2" type="submit">Enviar</button>
            <button class="btn btn-secondary" type="reset">Limpiar Fromulario</button>
        </div>
    </fieldset>
</form>