html.font-sm {
    font-size: 14px;
}

html.font-md {
    font-size: 16px;
}

html.font-lg {
    font-size: 20px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

footer {
    padding: 1rem 0;
}

.card-hover {
    transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.card-hover:hover {
    transform: translateY(-5px);
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.175);
    cursor: pointer;
}