html.font-sm {
    font-size: 14px;
}

html.font-md {
    font-size: 16px;
}

html.font-lg {
    font-size: 20px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

footer {
    padding: 1rem 0;
}

#map-container {
    max-width: 800px;
    border: 3px solid #007bff;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    padding: 15px;
    margin: 0 auto;
}

#map {
    height: 70vh;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

#distancia {
    display: none;
    padding: 10px 15px;
    background-color: #e9f5ff;
    border: 2px solid #007bff;
    border-radius: 10px;
    font-weight: 700;
    font-size: 1.2rem;
    text-align: center;
    color: #003366;
}