html.font-sm {
    font-size: 14px;
}

html.font-md {
    font-size: 16px;
}

html.font-lg {
    font-size: 20px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

footer {
    padding: 1rem 0;
}